<html>
    <title>Demo List</title>
    <body>
        <h1>

        </h1>

       <th>
         <td>id</td>
         <td>ProductName</td>
         <td>Description</td>
         <td>Price</td>
         <td>Category</td>
         <td>StockQuantity</td>

         
       </th>
    </body>
</html>