<html>
    <head>
        <title>ERR!</title>
    </head>
    <body>
        <a href="/Home/Index">Go Back!</a>
        <hr />
        <h1 style="color: red">Something went wrong!</h1>
    </body>
</html>